<article>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
	<h3>Download pre-built images</h3>
	<p>
	  The latest release of Server Atomic Controller
	  is <strong>2014.3</strong>.
	  <ul>
	    <li>SELinux enforcing mode</li>
	    <li>Added rawhide non-debug kernel</li>
	  </ul>
	</p>
	<p>
	  <img src="Important.png">
	  Releases are currently based on <a href="https://fedoraproject.org/wiki/Releases/Rawhide">Fedora rawhide</a> - so you should not yet run this in production.
	</p>
	<p>
	  <a class="btn" href="http://209.132.179.82/images/releases/2014.3/">Download &raquo;</a>
	</p>
      </div>
      <div class="col-md-6">
	<h3>Spin your own</h3>
	<p>
	  Using technology from
	  the <a href="http://rpm-ostree.cloud.fedoraproject.org/">Fedora
	    Atomic Initiative</a>, you can spin your own custom
	  controllers.  For now, see the upstream documentation:
	</p>
	<p>
	  <a class="btn" href="http://rpm-ostree.cloud.fedoraproject.org/#/running-custom">Running custom &raquo;</a>
	</p>
      </div>
    </div>
  </div>
</article>
