<article>
  <div class="container">
    <div class="jumbotron">
      <p>
	The Server Atomic Controller Fedora Remix is a minimal
	operating system, designed to
	host <a href="http://docker.io">Docker</a> containers.  Using
	technology from
	the <a href="http://rpm-ostree.cloud.fedoraproject.org/">Fedora
	Atomic Initiative</a>, it supports atomic upgrades.
      </p>
      <p>
	You can run pre-built images on VirtualBox, QEMU/KVM, and
	OpenStack.  Or set up your own build server, and include your
	own custom RPM content such as a monitoring agent, or your
	favorite editor.
      </p>
      <p>
	<a class="btn btn-primary btn-lg" role="button" href="#download">Download &raquo;</a>
      </p>
    </div>
  </div>
  
  <div class="container">
    <hr>
    <div class="row">
      <div class="col-md-7">
        <h2 class="featurette-heading">SELinux in enforcing mode</h2>
        <p class="lead">Because the underlying rpm-ostree technology
	  is an evolution of Fedora and RPM, Controller takes
	  advantage of all of the work that's been put into things
	  like Security-Enhanced Linux.  This allows it to confine
	  Docker containers with strong mandatory access control.
        </p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="col-md-5">
        <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
      </div>
      <div class="col-md-7">
        <h2 class="featurette-heading">Smaller than RPM can normally go.</h2>
        <p class="lead">With RPM, removing things like extra
        documentation and translations has always been suboptimal.
        OSTree allows Controller to use RPMs to build, but then strip
        out these things to get a more minimal host operating system -
        and updates only get <i>more efficient</i> as the system
        becomes smaller.</p>
      </div>
    </div>

    <hr>
    <div class="row">
      <div class="col-md-7">
        <h2 class="featurette-heading">Easily create your own customized controllers</h2>
        <p class="lead">
	  You are not locked into our vision of what packages should
	  go into a core controller operating system.  Use the
	  rpm-ostree technology to create your own!  You can easily
	  take our existing images, and add your own repository,
	  configuring your servers to pull from it.
        </p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
      </div>
    </div>

   </div>
</article>
